[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
install = "*"
python-dateutil = "*"
python-dotenv = "*"
requests = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.9"
